:root {
    /* colors */
    --background: #000113;
    --background-opacity-25: #00011325;
    --background-opacity-80: #00011380;
    --text: #e5e7f2;
    --text-dimmed: #a5a8b9;
    --text-dimmer: #85868c;
    --accent: #b75bea;
    --accent-light: #e6befd;

    /* font sizes mixed with font sizes for mobile */
    --text-title: 48px;
    --text-lg: 32px;
    --text-md: 28px;
    --text-sm: 24px;
    --text-xs: 16px;

    --text-mobile-title: 24px;
    --text-mobile-lg: 18px;
    --text-mobile-md: 20px;
    --text-mobile-sm: 16px;
    --text-mobile-xs: 8px;

    /* for panels */
    --panel-background: #e5e7f207;
    --panel-background-dimmer: #e5e7f202;
    --panel-border: #e5e7f210;
    --panel-border-dimmer: #e5e7f205;
    --panel-border-lighter: #e5e7f230;

    /* Main page */
    --padding-y: 44px;
    --padding-x: 96px;
}

@font-face {
    font-family: SourceCodePro;
    src: url("fonts/SourceCodePro.ttf") format("truetype");
    font-display: swap; /* Ensures text is visible while the font loads */
}

* {
    font-family: SourceCodePro, Consolas, Menlo, Monaco, "Courier New", monospace;
}

/* Text gradients */
/* Direction of gradient is specified by brighter color */

.title-gradient-down {
    background: -webkit-linear-gradient(var(--text-dimmer), var(--text));
}

.title-gradient-right {
    background: -webkit-linear-gradient(0deg, var(--text-dimmed), var(--text));
}

.title-gradient-left {
    background: -webkit-linear-gradient(180deg, var(--text-dimmed), var(--text));
}

/* Text gradient needs to be applied so that gradient works */
.text-gradient {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-image {
    position: fixed;
    top: 0;
    z-index: -100;
    min-height: 100dvh;
    min-width: 100dvh;
    object-fit: cover;
}

@media (max-width: 1050px) {
    :root {
        --padding-y: 44px;
        --padding-x: 32px;
    }
}

@media (max-width: 768px) {
    :root {
        --panel-background: #e5e7f210;
        --panel-border: #e5e7f210;
        --panel-border-dimmer: #e5e7f205;
    }

    .background-image {
        display: none;
    }
}
