---
import { SEO } from "astro-seo";
import GlassContainer from "~components/GlassContainer.astro";
import ContactForm from "~components/react/ContactForm";
import InfoPage from "~layouts/InfoPage.astro";
---

<InfoPage footerClass="skibidi">
    <SEO
        slot="head"
        title="Leons - Contact"
        description="Get in touch with me through my contact page. Find my email, social media links, and other ways to connect and collaborate."
    />

    <GlassContainer className="mb-20 backdrop-blur-xl skibidi">
        <h1 slot="title" class="text-gradient title-gradient-left">Contact me</h1>
        <ContactForm client:load />
    </GlassContainer>
</InfoPage>

<style is:global>
    .skibidi {
        max-width: 900px;
    }
</style>
