---

---

<main class="flex flex-col gap-12">
    <h1 class="text-gradient title-gradient-right w-fit text-title font-bold">I'm Leons,<br />Full-stack developer</h1>
    <p class="text-dimmed font-semibold text-lg w-[454px]">Developer with strong dedication to coding and learning</p>
</main>

<style>
    main {
        background-color: #ff000025;
        position: absolute;
        top: 40%;
        left: var(--padding-x);
    }
</style>
