---
import Header from "./Header.astro";
import Waves from "~components/Waves.astro";
---

<div class="drawer flex-col justify-between hidden">
    <Header iconName="close" showBurger={true} />
    <div class="relative">
        <Waves className="w-full" />
        <div class="w-full h-full bg-background opacity-40 absolute top-0"></div>
    </div>
</div>

<style>
    .drawer {
        position: fixed;
        left: 0;
        top: 0;

        height: 100%;
        width: 100%;

        opacity: 0;
        transition: 1s;

        background-color: var(--background);
    }

    .menu-drawer-open {
        display: flex;
        opacity: 1;

        /* Show hidden nav links */
        nav {
            display: flex;
        }
    }
</style>
