---
import Header from "./Header.astro";
import Waves from "~components/Waves.astro";
---

<div class="drawer flex flex-col justify-between md:hidden">
    <Header iconName="close" />
    <div class="bg-background">
        <Waves className="w-full" />
    </div>
</div>

<style>
    .drawer {
        position: fixed;
        left: 0;
        top: 0;

        height: 100%;
        width: 100%;

        background-color: var(--background);
    }
</style>

<script>
    import DrawerToggle from "~utils/DrawerToggle";
    new DrawerToggle({ drawerClass: "drawer", triggerClasses: ["menu-button"] });
</script>
