---

---

<div
    class={"w-full max-w-[calc(100%-72px)] md:max-w-[1300px] mx-auto px-12 py-6 rounded-2xl backdrop-blur md:bg-panel-background md:border-2 md:border-panel-border "}
>
    <div class="title font-bold flex justify-center">
        <slot name="title" />
    </div>

    <slot />
</div>

<style>
    .title {
        font-size: clamp(var(--text-mobile-title), 6vw, var(--text-title));
    }
</style>
