---
import type { HexColor } from "types/colors";
import SvgNoiseOverylay from "~components/SvgNoiseOverylay.astro";

interface Props {
    w: `${number}px`;
    h: `${number}px`;
    zIndex: number;
    startColor: HexColor;
    endColor: HexColor;
    deg: `${number}deg`;
}

const props = Astro.props;
---

<div class="circle">
    <SvgNoiseOverylay rgb={[19, 8, 41]} opacity={0.5} />
</div>

<style define:vars={{ ...props }}>
    .circle {
        position: absolute;
        width: calc(100% + var(--w));
        height: calc(100% + var(--h));

        z-index: var(--zIndex);
        border-radius: 10000px;

        /* Implement gradient */
        background: linear-gradient(var(--deg), var(--startColor), var(--endColor));
        overflow: hidden;
    }
</style>
