---
import { Icon } from "astro-icon/components";

interface Props {
    stars: number;
    starClassName?: string;
    containerClass?: string;
    starTransition?: string;
}

const props: Props = Astro.props;
---

<div class={`flex gap-1 md:gap-3 ${props.containerClass || ""}`} transition:name={props.starTransition}>
    {
        () => {
            const stars = new Array(props.stars).fill(null);
            const emptyStars = new Array(5 - props.stars).fill(null);
            const starClass = "w-[20px] h-[20px] md:w-[32px] md:h-[32px] " + props.starClassName || "";
            return (
                <>
                    {stars.map(() => (
                        <Icon name={"star"} class={`${starClass} text-accent opacity-80`} />
                    ))}
                    {emptyStars.map(() => (
                        <Icon name={"star"} class={`${starClass} text-dimmed opacity-15`} />
                    ))}
                </>
            );
        }
    }
</div>
