---
import Drawer from "~components/Header/Drawer.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <slot name="head" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="favicon.png" />
        <base href={import.meta.env.BASE_URL} />
        <ClientRouter />
    </head>
    <body class="bg-background">
        <slot />
        <Drawer />
    </body>
</html>

<style>
    body,
    html {
        margin: 0;
    }
</style>
