---
import InfoPage from "~layouts/InfoPage.astro";
import { SEO } from "astro-seo";
import GlassContainer from "~components/GlassContainer.astro";
import { Picture } from "astro:assets";
import MePicture from "~assets/me.png";

// const [about] = Object.values(import.meta.glob("~markdown/about-me.md", { eager: true }));
const { Content: AboutMeContent } = await import("~markdown/about-me.md");
---

<InfoPage>
    <div slot="head">
        <SEO
            title="Skrazzo - Full-Stack Developer"
            description="Discover the journey of Skrazzo, a passionate full-stack developer with a love for technology and gaming. Learn about my early interest in scripting, my transition to web development, and my current expertise in full-stack development."
            openGraph={{
                basic: {
                    title: "Skrazzo - Full-Stack Developer",
                    type: "Website",
                    image: "/me.png",
                },
            }}
        />
    </div>

    <GlassContainer>
        <h1 slot="title" class="text-gradient title-gradient-left">About me</h1>
        <main class="flex gap-12 mt-6">
            <Picture
                class="border-[3px] border-[#DAD5E2] bg-panel-border rounded-xl w-[384px] opacity-80 aspect-[0.8/1] object-cover"
                src={MePicture}
                alt={"Me sitting on railroads"}
            />
            <div class="text-light about-me-content">
                <AboutMeContent />
            </div>
        </main>
    </GlassContainer>
</InfoPage>

<style>
    .about-me-content {
        flex: 1;

        display: flex;
        flex-direction: column;
        gap: calc(var(--text-md) * 1.3);

        font-size: clamp(var(--text-mobile-md), 3vw, var(--text-md));
        letter-spacing: -1px;
        line-height: calc(clamp(var(--text-mobile-md), 3vw, var(--text-md)) * 1.3);

        h1 {
            font-size: var(--text-lg);
            font-weight: 600;
        }
    }
</style>
